@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Variables
$Poppins: "Poppins", sans-serif;
$primary: #2d6e62;
$secondary: #2d6e62;
$darkbg: #0a0a0a;
$lightbg: #f5f5f5;
$dark: #000000;
$light: #eeeee6;
$transparent: #00000000;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  background: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: $Poppins;
  // border:1px solid red;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  position: relative;
}

.main {
  width: 100%;
  height: 100%;
}

// Navigation
.header {
  height: 4rem;
  overflow: hidden;
  z-index: 10;
}
.nav {
  height: 100%;
}
.header-logo {
  font-size: 1.5rem;
}
.hamburger {
  font-size: 2rem;
}

// Sidebar
.sidebar {
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(-100%);
  transition: all 0.2s ease-in-out;
}
.sidebar-bottom {
  border-top: 1px solid $primary;
}

// profile
.profile {
  width: 100%;
}
.welcome-text {
  font-size: 1.5rem;
}
.profile-info,
.summary {
  width: 100%;
  border: 2px solid $primary;
  border-radius: 1rem;
}
.edit {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 1px solid $primary;
  cursor: pointer;
  text-transform: lowercase;
}
.profile-img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 3px solid $primary;
}
.profile-info-text {
  width: 100%;
}
.location {
  font-style: italic;
}
.bottom {
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  grid-template-rows: auto;
}

@media screen and (min-width: 768px) {
  .edit {
    font-size: 0.8rem;
    top: 3rem;
  }
  .user-name {
    font-size: 1.5rem;
  }
  .bottom {
    grid-template-columns: 1fr 3fr;
  }
}

@media screen and (min-width: 900px) {
  .main {
    overflow: hidden;
  }
  .sidebar {
    position: static !important;
    width: 30%;
    transform: translateX(0%);
  }

  .profile {
    border-left: 2px solid $primary;
    width: 70%;
  }
  .profile-img {
    width: 15rem;
    height: 15rem;
  }
  .bottom p {
    font-size: 1.2rem;
  }
}
