@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Variables
$Poppins: "Poppins", sans-serif;
$primary: #2d6e62;
$secondary: #2d6e62;
$darkbg: #0a0a0a;
$lightbg: #f5f5f5;
$dark: #000000;
$light: #fff;
$transparent: #00000000;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  background: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: $Poppins;
  // border: 1px solid red !important;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.header {
  height: 4rem;
  width: 100%;
  box-shadow: 1px 1px 5px $dark;
}
.nav {
  position: relative;
  height: 100%;
  width: 100%;
}
.navigation {
  position: absolute;
  top: 3rem;
  left: 0rem;
  width: 10 0%;
  visibility: collapse;
  overflow: hidden;
  transform: translateY(30%);
  transition: all 0.2s ease-in-out;
}
.header-nav li,
.login-signup button {
  font-size: 1rem;
}
.header-nav li a {
  color: $primary;
}
.login-btn {
  color: $light;
}
.signup-btn {
  color: $primary;
}
.login-btn:hover {
  background: $light;
  color: $primary;
}
.signup-btn:hover {
  background: $primary;
  color: $light;
}
.login,
.signup {
  color: inherit;
}
.template-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  position: relative;
}
input {
  height: 3rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  border: 2px solid $primary;
}
textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  border: 2px solid $primary;
}
.bio {
  width: 100%;
}
.templateId {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: auto;
  gap: 1rem;
  position: absolute;
  background: #fff;
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
  z-index: 10;
  padding: 1rem;
  border: 5px solid $primary;
  border-radius: 1rem;
}
.templateId label {
  width: 100%;
  border: 2px solid $primary;
}
.templateId label img {
  width: 100%;
}
.skill-entry {
  position: relative;
}
.fa-xmark {
  position: absolute;
  right: 0rem;
  top: 0.8rem;
  font-size: 1.1rem;
  color: $primary;
}
#socials-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
}
#socials-container div {
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 50%;
  align-items: center;
  gap: 0.5rem;
}
.project-entry {
  position: relative;
}
.footer-logo {
  height: 3rem;
}
.footer-nav li a {
  font-size: 1.1rem;
  color: $light;
}
.footer-icon {
  font-size: 1.3rem;
}
.copyright {
  height: 3rem;
  border-top: 1px solid $light;
}
.copyright-text {
  font-size: 0.8rem;
}
.c-text {
  text-decoration: underline;
}
@media screen and (min-width: 576px) {
  #socials-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
  }
}
@media screen and (min-width: 768px) {
  .template-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
  }
  .bio {
    grid-area: 3/1/4/3;
  }
  .skill-section {
    grid-area: 5/1/6/3;
  }
  #socials-container {
    grid-area: 6/1/7/3;
  }
  #projectsContainer {
    grid-area: 7/1/8/3;
  }
  .resume-container {
    grid-area: 8/1/9/3;
  }
}

@media screen and (min-width: 900px) {
  .template-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
  }
  input {
    height: 3rem;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    border: 2px solid $primary;
  }
  textarea {
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    border: 2px solid $primary;
  }
  .bio {
    grid-area: 2/1/3/4;
    width: 80%;
  }
  .skill-section {
    grid-area: 4/1/5/4;
  }
  #socials-container {
    grid-area: 5/1/6/4;
  }
  #projectsContainer {
    grid-area: 6/1/7/4;
  }
  .resume-container {
    grid-area: 7/1/8/4;
  }
}
