<header class="header py-2 bg-lightbg fixed-top">
  <nav
    class="nav container d-flex flex-row align-items-center justify-content-between px-3"
  >
    <a href="/" class="header-logo text-primary fw-bold m-0">FOLIO</a>
    <svg
      class="hamburger-icon d-lg-none"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 16 16"
      fill="none"
    >
      <rect width="4" height="4" fill="#29a688"></rect>
      <rect x="6" width="4" height="4" fill="#29a688"></rect>
      <rect x="12" width="4" height="4" fill="#29a688"></rect>
      <rect y="6" width="4" height="4" fill="#29a688"></rect>
      <rect x="6" y="6" width="4" height="4" fill="#29a688"></rect>
      <rect x="12" y="6" width="4" height="4" fill="#29a688"></rect>
      <rect y="12" width="4" height="4" fill="#29a688"></rect>
      <rect x="6" y="12" width="4" height="4" fill="#29a688"></rect>
      <rect x="12" y="12" width="4" height="4" fill="#29a688"></rect>
    </svg>
    <div class="navigation bg-lightbg d-lg-flex flex-row align-items-center justify-content-center justify-content-lg-between p-3">
      <ul
        class="header-nav border-primary d-flex flex-column flex-lg-row align-items-start justify-content-center gap-5 m-0 p-0"
      >
        <li><a class="header-home" href="/"> Home</a></li>
        <li><a class="header-about" href="/"> About</a></li>
        <li><a class="header-why-us" href="/"> Why Us</a></li>
        <li><a class="header-features" href="/"> Features</a></li>
        <li><a class="header-contact" href="/"> Contact</a></li>
      </ul>
      <div class="login-signup mt-3 d-lg-none d-flex flex-column flex-lg-row align-items-start justify-content-center justify-content-lg-between gap-3 m-lg-0">
        <button class="btn login btn-primary"><a href="/sign-in" class="login"> Login </a></button>
        <button class="btn signup btn-outline-primary"><a href="/sign-up" class="signup"> Sign Up </a></button>
      </div>
    </div>
    <div class="login-signup mt-3 d-none d-lg-flex flex-column flex-lg-row align-items-start justify-content-center justify-content-lg-between gap-3 m-lg-0">
      <button class="btn login-btn btn-primary"><a href="/sign-in" class="login"> Login </a></button>
      <button class="btn signup-btn btn-outline-primary"><a href="/sign-up" class="signup"> Sign Up </a></button>
    </div>
  </nav>
</header>