<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Folio - Forgot Password</title>
    <link rel="stylesheet" href="./css/forgot-password.css">
</head>
<body>
    <main class="main m-0">

        <section class="forgot d-flex flex-column flex-md-row align-items-center justify-content-start align-items-md-center justify-content-md-center">
            <div class="form-container col col-md-7 d-md-flex flex-column align-items-center justify-content-center p-3">
                 <a href="/forgot_password" class="forgot-logo d-inline-block fw-bold text-primary mt-2">FOLIO</a>
                <form action="" class="forgot-form d-flex flex-column align-items-center justify-content-start">
                    <h1 class="forgot-text text-primary text-center fw-bold mb-5">Forgot Password</h1>
                    <p class="forgot-password-text text-center">Enter the email associated with your account and we would send an email with instructions to reset your password</p>
                    <div class="mb-3 w-100">
                        <input type="email" class=" user-email w-100 rounded-1" name="" id="" placeholder="Email">
                    </div>
                    <button type="submit" class="btn btn-primary text-light fw-bold forgot-button rounded-pill mt-3">SEND</button>
                </form>
            </div>
        </section>
    </main>
</body>
</html>