<!DOCTYPE html>
<html lang="en">
<head>
     {{>header}}
    <title>profile</title>
    <link rel="stylesheet" href="./css/profile.css">
</head>
<body>
    <header class="header bg-primary fixed-top">
        <nav class="nav container d-flex flex-row align-items-center justify-content-between px-3">
            <a href="/dashboard" class="header-logo fw-bold text-light">FOLIO</a>
            <i class="fa-solid fa-bars hamburger fw-bold text-light d-lg-none"></i>
        </nav>
    </header>

    <main class="main container d-lg-flex flex-row-reverse align-items-start">
        <section class="profile pt-5 pt-lg-0">
            <div class="profile-container container d-flex flex-column align-items-start justify-content-start p-3 py-5 pt-lg-5 pb-lg-4">
                <h1 class="welcome-text align-self-start mt-5">Edit Profile</h1>
                <div class="profile-info position-relative d-flex flex-column align-items-center justify-content-center mt-3 py-5 px-3 py-md-0">
                    <form action="" method="" class="user-form">
                        <div class="mb-3 w-100">
                            <input type="text" class="fullname w-100 rounded-1" name="name" id="name" placeholder="Fullname" required>
                        </div>
                        <div class="mb-3 w-100">
                            <input type="email" class="email w-100 rounded-1" name="email" id="email" placeholder="Email" required>
                        </div>
                        <div class="mb-3 w-100">
                            <input type="text" class="city w-100 rounded-1" name="city" id="city" placeholder="City" required>
                        </div>
                        <div class="mb-3 w-100">
                            <input type="text" class="state w-100 rounded-1" name="state" id="state" placeholder="State" required>
                        </div>
                        <div class="mb-3 w-100">
                            <input type="text" class="country w-100 rounded-1" name="country" id="country" placeholder="Country" required>
                        </div>
                        <div class="mb-3 w-100">
                            <input type="number" class="number w-100 rounded-1" name="number" id="number" placeholder="Phone Number" required>
                        </div>
                        <div class="mb-3 w-100">
                            <textarea class="summary w-100 rounded-1" name="summary" id="summary" placeholder="Summary about Yourself" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary text-light fw-bold update-button rounded-0 mt-3 mb-4">SAVE</button>
                    </form>
                </div>
            </div>
        </section>

        <section class="sidebar p-3 bg-light py-5 p-lg-0 pt-lg-5">
            <ul class="sidebar-top p-0 pb-5 m-0 mt-5 ps-lg-3">
                <li class="dashboard fw-semibold mb-3"><a href="/dashboard">Dashboard</a></li>
                <li class="templates fw-semibold mb-3"><a href="/templates">Templates</a></li>
                <li class="my-portfolio fw-semibold mb-3"><a href="{{default user.portfolioUrl "Null"}}">My Portfolio</a></li>
            </ul>
            <ul class="sidebar-bottom p-0 pt-5 ps-lg-3">
                <li class="edit-profile fw-semibold mb-3"><a href="/profile">Profile</a></li>
                <li class="sign-out fw-semibold mb-3"><a href="">Sign out</a></li>
            </ul>
        </section>
    </main>

    <script src="./js/bootstrap.bundle.min.js"></script>
    <script type="module" src="./js/script.js"></script>
</body>
</html>