<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Folio - Reset Password</title>
    <link rel="stylesheet" href="./css/reset-password.css">
</head>
<body>
    <main class="main m-0">

        <section class="reset d-flex flex-column flex-md-row align-items-center justify-content-start align-items-md-center justify-content-md-center">
            <div class="form-container col col-md-7 d-md-flex flex-column align-items-center justify-content-center p-3">
                 <a href="" class="reset-logo d-inline-block fw-bold text-primary mt-2">FOLIO</a>
                <form action="" class="reset-form d-flex flex-column align-items-center justify-content-start">
                    <h1 class="reset-text text-primary text-center fw-bold mb-5">Enter new Password</h1>
                    <p class="reset-password-text mb-4">Your new password must be different from previous used passwords</p>
                    <div class="mb-3 w-100">
                        <input type="password" class=" user-password w-100 rounded-1" name="" id="" placeholder="New Password">
                    </div>
                    <div class="mb-4 w-100">
                        <input type="password" class=" user-password w-100 rounded-1" name="" id="" placeholder="Confirm Password">
                    </div>
                    <button type="submit" class="btn btn-primary text-light fw-bold reset-button rounded-pill mt-3">SUBMIT</button>
                    <p class="signup text-center d-md-none mt-3">Already have an account? <a href="/sign-up" class="text-primary">Sign up</a></p>
                </form>
            </div>
        </section>
    </main>
</body>
</html>